<!DOCTYPE html>
<html lang="en">
<head>
    <title>Query landing page</title>
    <!--<script src="table_data.js"></script> --!>
    

    <style>
        .qur_forms {
            width: 300px;
            height: 100px;
            background-color: lightgray;
            margin: 20px 0;
            border-style: solid;
            border-color: gray;
        }
    </style>
    <script>
        /*
        function validateForm(typ) {
       if (typ == 1) {

       }
        }
       */
    </script>
</head>
<body>
    <b>Search by ASV & Sample</b>
    <div id="single_value_form" class="qur_forms">
        <form action="/testingsingle_value" id="sv_form" 
            onsubmit="return validateForm(1)"  method="get">
            ASV: <input type="text" name="ASV_name">
            <p></p>
            Sample: <input type="text" name="Sample_name">
            <p></p>
            <input type="submit" maxlength="64" 
             title="No quotations, quotes or backticks.">
        </form>
    </div>
    <br>
    <br>
    <b>Search by ASV</b>
    <div id="sample_values_form" class="qur_forms">
        <form action="/testingsample_values" id="asv2samples" method="get">
            ASV: <input type="text" name="ASV_name">
            <p></p>
            <input type="submit" maxlength="64">
        </form>
    </div>
    <br>
    <br>
    <b>Search by Sample</b>
    <div id="asv_values_form" class="qur_forms">
        <form action="/testingasv_values" id="samples2asv" method="get">
            Sample: <input type="text" name="Sample_name">
            <p></p>
            <input type="submit" maxlength="64">
        </form>
    </div>
    <br>
    <br>
    <b>Search by Taxonomy</b>
    <div id="srch_by_taxonomy" style="height: 250px;" class="qur_forms">
        <form action="/testingsrch_by_taxonomy" id="srch_by_taxonomy" method="get">
            Domain: <input type="text" name="domain">
            <p></p>
            Phylum: <input type="text" name="phylum">
            <p></p>
            Class: <input type="text" name="class">
            <p></p>
            Order: <input type="text" name="order">
            <p></p>
            Family: <input type="text" name="family">
            <p></p>
            Genus: <input type="text" name="genus">
            <p></p>
            Species: <input type="text" name="species">
            <p></p>
            <input type="submit" maxlength="64">
        </form>
    </div>
    <br>
    <br>
    <br>
</body>
</html>



